<!DOCTYPE html>
<html>
  <head>
    <title>Quote List Home</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Here's where the User lands upon successful entry without any quotes</h1>

    <a href="/quotes/create">Create a new Quote!</a>

    <% for (var c = 0; c < quotes.length; c++) { %>
      <% var currentQuote = quotes[c]; %>
      <div class="todo-item" id="todo_<%= currentQuote._id %>">
        <div>
          Title: <%= currentQuote.quote %>
        </div>
        <div>
          Description: <%= currentQuote.mood %>
        </div>
        <div class="actions">
          <a class="deleteButton" id="<%= currentQuote._id %>">Delete</a>
          <a class="editButton" id="<%= currentQuote._id %>">Edit</a>
        </div>
      </div>
    <% } %>





  </body>
</html>

