<!DOCTYPE html>
<html>
  <head>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' href='/stylesheets/create.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <title>Inspire Me</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>

  <body>
    <h1>Dually Quoted</h1>
          <nav class="navbar navbar-default">
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/quotes/list">Home</a></li>
            <li><a href="/quotes/create">Create Your Own</a></li>
            <li><a href="/quotes/selectByMood">Let Us Pick a Quote for You</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/logout" >Log Out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Begin Creating New Quotes with the form below -->
<div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" id="quoteFormDiv">

    <form method="POST" action="/quotes/edit" id="quoteForm" >
      <input type="hidden" name="db_id" value="<%= quote._id %>">
      <div class="formfield">
        <div class="formfield--prompt" id="quote-head">Quote</div>
        <input type="text" id="quote" name="quote" value="<%= quote.quote%>">
      </div>

      <div class="formfield">
        <div class="formfield--prompt" id="Mood">Mood</div>

          <input type="radio" name="mood" value="Hopeful"<%= (quote.mood === 'hopeful') ? "checked" : "" %>>Hopeful <br>
          <input type="radio" name="mood" value="Awe" <%= (quote.mood === 'awe') ? "checked" : "" %>>In Awe <br>
          <input type="radio" name="mood" value="Happiness" <%= (quote.mood === 'happiness') ? "checked" : "" %>>Happiness <br>
          <input type="radio" name="mood" value="Loved" <%= (quote.mood === 'loved') ? "checked" : "" %>>Loved <br>
          <input type="radio" name="mood" value="Inspired" <%= (quote.mood === 'inspired') ? "checked" : "" %>>Inspired <br>
          <input type="radio" name="mood" value="Encouraged" <%= (quote.mood === 'encouraged') ? "checked" : "" %>>Encouraged <br>
       </div>

      <input class="submitButton" type="submit"></input>

    </form>
</div>
      <div class="col-md-2"></div>
</div>


  </body>
</html>
