<!DOCTYPE html>
<html>
  <head>
    <title>Dually Quote Home</title>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/javascripts/quoteHandler.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="col-md-2"> </div>
      <div class="col-md-8">
        <h1>Dually Quoted</h1>
      </div>
      <div class="col-md-2"></div>
    </div>

      <nav class="navbar navbar-default navbar_custom" id="navbar_pro">
      <div class="container-fluid navbar_custom">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/quotes/list">Home</a></li>
            <li><a href="/quotes/create">Create Your Own</a></li>
            <li><a href="/quotes/selectByMood">Let Us Pick a Quote for You</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/logout" >Log Out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" id="quoteCollectionDiv">

          <% for (var c = quotes.length - 1; c >= 0; c--) { %>
            <br>
            <% var currentQuote = quotes[c]; %>
            <div class="quote-item" id="quote_<%= currentQuote._id %>">
              <div>
                Quote: <%= currentQuote.quote %>
              </div>
              <div>
                Mood: <%= currentQuote.mood %>
              </div>
              <div class="actions">
                <a class="deleteButton" id="<%= currentQuote._id %>">Delete</a>
                <a class="editButton btn btn-" id="<%= currentQuote._id %>">Edit</a>
              </div>
            </div>
          </br>
          <% } %>
      </div>
      <div class="col-md-2"></div>
    </div>

    </div>

  </body>
</html>

