<!DOCTYPE html>
<html>
  <head>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/register.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <title>Inspire Me</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Make a quote</h1>

    <form method="POST" action="/quotes" id="quoteForm">
      <input type="hidden" name="db_id" value="<%= quote._id %>">
      <div class="formfield">
        <div class="formfield--prompt">Quote</div>
        <input type="text" id="quote" name="quote" value="<%= quote.quote%>">
      </div>

      <div class="formfield">
        <div class="formfield--prompt">Mood</div>

             <input type="radio" name="mood" value="hopeful"<%= (quote.mood === 'hopeful') ? "checked" : "" %>>Hopeful <br>
             <input type="radio" name="mood" value="awe" <%= (quote.mood === 'awe') ? "checked" : "" %>>In Awe <br>
             <input type="radio" name="mood" value="happiness" <%= (quote.mood === 'happiness') ? "checked" : "" %>>Happiness <br>
             <input type="radio" name="mood" value="loved" <%= (quote.mood === 'loved') ? "checked" : "" %>>Loved <br>
             <input type="radio" name="mood" value="inspired" <%= (quote.mood === 'inspired') ? "checked" : "" %>>Inspired <br>
             <input type="radio" name="mood" value="encouraged" <%= (quote.mood === 'encouraged') ? "checked" : "" %>>Encouraged <br>

      </div>

      <input class="submitButton" type="submit"></input>

    </form>

  </body>
</html>
